.accelerometer-stage {
    -webkit-perspective: 700px;
    -webkit-perspective-origin: 50% 50%;
    perspective: 700px;
    perspective-origin: 50% 50%;
    width: 500px;
    height: 530px;
    cursor: move;
    border: 1px dashed #999;
}

.accelerometer-box {
    pointer-events:none;
    margin-top: 54px;
    margin-left: -40px;
    position: absolute;
    top: 0;
    left: -10%;
    width: 378px;
    height: 256px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: center center;
}

.accelerometer-box section {
    margin-top: -54px;
    margin-left: -40px;
    position: absolute;
    display: block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform-style: flat;
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
    transform-style: flat;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
}

/* maybe make background image of raspberry :) */
.accelerometer-box .front {
    /*border: 5px solid black;*/
    width: 378px;
    height: 256px;
    background-image: url('./sense_hat.png');
    background-size: cover;
    background-color: gray;
    transform: translate3d(0, 0, 10px);
}

.accelerometer-box .back {
    width: 378px;
    height: 256px;
    background-color: black;
    transform: rotateY(-180deg) translate3d(0, 0, 10px);
}

.accelerometer-box .top {
    overflow: hidden;
    width: 378px;
    height: 20px;
    background-color: #75CE89;
    transform: rotateX(-90deg) translate3d(0, 0, -10px);
}

.accelerometer-box .bottom {
    overflow: hidden;
    width: 378px;
    height: 20px;
    background-color: #865C6C;
    transform: rotateX(90deg) translate3d(0, 0, -246px);
}

.accelerometer-box .left {
    width: 20px;
    height: 256px;
    background-color: #7992CB;
    transform: rotateY(90deg) translate3d(0, 0, 368px);
}

.accelerometer-box .right {
    width: 20px;
    height: 256px;
    background-color: #7992CB;
    transform: rotateY(-90deg) translate3d(0, 0, 10px);
}

.accelerometer-axis-input-container {
    margin-bottom: 10px;
}

.accelerometer-inputs-cell {
    vertical-align: top;
}
